h1{
  text-align: center;
}

.notes{
  text-align: center;
}

.notes > div {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  color: green;
}
.notes > div i {
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.notes > div i:last-child {
  margin-left: 0;
}

.notes > div p {
  margin: 0;
}
